<h1>Burgers!</h1>
<h2>Burgers I want to try!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=false}}
    {{/unless}}
  {{/each}}
</ul>
<h2>Burgers I already tried!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=true}}
    {{/if}}
  {{/each}}
</ul>
<h2>Add a burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burgerEntry">Burger Name:</label>
    <input type="text" id="burgerEntry" name="name">
  </div>
  <button type="submit">Add burger</button>
</form>